/* Main content */
main {
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#projects{
width:100vw;
background-color: black;
}

#aboutMe{
width:100vw;
background-color: black;
}

#contact{
width:100vw;
background-color: black;
text-align: center;
color: white;
margin-bottom: 48px;
}

/* The navigation bar */
.navbar { 
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-nav{
color: white;
display: flex;
flex-direction: row-reverse;
width: 100%;
justify-content: flex-end;
margin-right: 24px;
}

.text-accent{
  color: rgb(161, 161, 161)
}

/* Links inside the navbar */
.nav-link {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Poppins',sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

  /* Change color on mouse-over */
  .nav-link:hover {
    color: rgb(161, 161, 161);
  }

  /* Change color on active*/
  .nav-link:active {
    color: rgb(161, 161, 161);
  }

  .nav-link.selected {
    color: rgb(161, 161, 161);
  }

.navbar-brand {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
  font-weight:normal;
}

.name:hover {
  color: rgb(161, 161, 161);
}

.name {
  text-decoration: none;
  font-size: 36px;
  font-weight:50;
  font-family:'Poppins', sans-serif;
  color: white;
}

.headings {
  font-size: 40px;
  font-weight:50;
  font-family:'Poppins', sans-serif;
  margin-bottom: 40px;
}

.subHeadings {
  font-size: 16px;
  font-weight:400;
  font-family:'Poppins', sans-serif;
}


.card{
    margin-bottom: 48px;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
}

.projectTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-bottom: 16px;
}

.btn-outline-light{
  display:flex;
  justify-content:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 800px;
  margin: 36px auto;
  width: 200px;
  outline: none;
}

.btn-outline-light:hover{
  text-decoration: underline;
}

.projectSummary{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight:400px;
  margin: 0px auto;
  margin-top: 8px;
  width: 640px;
  color: white;
}

.cardContainer{
  padding: 48px;
}

/* about section image css */
.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.imageAboutPage {
width: 200px;
border-radius: 2em;
}

.text{
text-align: left;
font-family: 'Poppins', sans-serif;
font-weight:400px;
margin-top: 8px;
color: white;
}

.contact{
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight:400px;
color: white;
}

.button-link{
margin-top: 48px;
}

.socialLinks{
margin: 16px;
}

.fa-brands:hover{
color: rgb(161, 161, 161)
}

.fa-brands:active{
color: rgb(161, 161, 161)
}

@media only screen and (max-width: 480px){
.navbar-nav{
  margin-right: 0px;
}

.name{
  font-size: 18px;
}

.headings {
  font-size: 32px;
  margin: 48px;
  text-align: center;
}

.subHeadings {
  text-align: center;
  margin: 48px;
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.about{
  width:60vw;
}

.imageAboutPage {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
}

.background{
  background-color: black;
}

.cardContainer{
  padding: 0px;
} 

.projectSummary{
  width: 80vw;
}

}

@media screen and (min-device-width: 481px) and (max-device-width: 540px){
  .navbar-nav{
    margin-right: 0px;
  }
  
  .name{
    font-size: 18px;
  }
  
  .headings {
    font-size: 32px;
    margin: 48px;
    text-align: center;
  }
  
  .subHeadings {
    text-align: center;
    margin: 48px;
  }
  
  .about-me-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 
  
  .about{
    width:50vw;
  }
  
  .imageAboutPage {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
  }
  
  .background{
    background-color: black;
  }
  
  .cardContainer{
    padding: 0px;
  } 
  
  .projectSummary{
    width: 80vw;
  }
  
  }

@media screen and (min-device-width: 541px) and (max-device-width: 980px){

  .name {
    font-size: 24px;
  }
  
  .headings {
    font-size: 32px;
    margin: 48px;
    text-align: center;
  }
  
  .about-me-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .about{
    width:60vw;
  }
  
  .imageAboutPage {
    width: 100%;
  }
  
  .text{
    margin-top: 0px;
    }
  
  .subHeadings {
    text-align: center;
  }
  
  .cardContainer{
    display:flex;
    flex-direction: column;
    padding: 48px;
  }
  
  .card{
    width: 600px;
  }
  
  .projectSummary{
    width: 560px;
  }
  }

  @media screen and (min-device-width: 981px) and (max-device-width: 1280px){

    .name {
      font-size: 24px;
    }
    
    .headings {
      font-size: 32px;
      margin: 48px;
      text-align: center;
    }
    
    .about-me-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    .about{
      width:60vw;
    }
    
    .imageAboutPage {
      width: 100%;
    }
    
    .text{
      margin-top: 0px;
      width: 50vw;
      }
    
    .subHeadings {
      text-align: center;
    }
    
    .cardContainer{
      display:flex;
      flex-direction: row;
      padding: 48px;
    }
    
    .card{
      width: 450px;
    }
    
    .projectSummary{
      width: 350px;
    }
    }